body {
    margin: 0;
    padding: 0;
}

.image-custom {
    width: 120px;

}


.text {
    color: #D3DEDE;
    margin-top: -10px;
    margin-bottom: 30px;

}

h5 {
    font-size: 18px;
}

.radius-top {
    border-radius: 15px 15px 5px 5px;
}

.radius-bottom {
    border-radius: 5px 5px 15px 15px;
}

.footer,
.text {
    font-size: 11px;
}

@media (min-width: 1200px) {

    .card {
        width: 50%;

    }

    .image-custom {
        width: 160px;
    }

    .footer,
    .text {
        font-size: 13px;
    }

}